.email-register {
  display: block !important;
  padding: 1rem 2rem;

  &__tab-block {
    height: 90vh;
  }

  h4 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    margin-top: 1rem;
  }

  &__footer {
    height: 10vh;
    position: absolute;
    bottom: 0;
    right: 23px;
    left: 23px;
    @include flexCenter;

    img {
      height: 34px;
      width: 160px;
    }
  }
}